.app {
  text-align: center;
}
body {
  overflow: hidden;
}

.headline-container {
  display: flex;
  height: 240px;
  margin-bottom: 60px;
}
.app-logo {
  width: 50%;
  max-width: 300px;
}
.headline-container h1 {
  margin: auto;
}

div {
  font-size: 16px;
  margin-bottom: 20px;
}

.button {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
  padding:20px;
  color: white;
  font-weight: bold;
  background-color: #09d3ac;
  font-size:16px;
}

.button:active {
  background-color: #08b2ac;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #09d3ac;
}

span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-wrapper{
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
